@import "tailwindcss";

body {
  font-family: 'Poppins';
}

/* For Custom classis */
@layer utilities {
  .font-poppins {
    font-family: 'Poppins' ;
  }
  
  .font-montserrat {
    font-family: 'Montserrat';
  }
}