@import "tailwindcss";

body {
  font-family: 'Poppins';
}

/* For Custom classis */
@layer utilities {
  .font-poppins {
    font-family: 'Poppins' ;
  }
  
  .font-montserrat {
    font-family: 'Montserrat';
  }
}



/* Animation */
@keyframes moveBlob {
  0% { transform: translate(-20%, -20%); }
  50% { transform: translate(70%, 50%); }
  100% { transform: translate(20%, 80%); }
}

.text-shine {
  background: linear-gradient(to right, #078ABE80 20%, #07D58080  50%, #078ABE80 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine-animation 5s linear infinite;
}

@keyframes shine-animation {
  to {
    background-position: 200% center;
  }
}

#home, #services, #project, #contact, #about {
  scroll-margin-top: 140px;
}



